li {
  list-style-type: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #2a70e9 !important;
  border-color: #000000;
  width: 100%;
  outline: none;
}
